/*
Author: Jesus R. Rijo (IST 126.001)

Date: 4/21/2020

Instructor: Dr. Eniye Tebekaemi

Description: CSS file for Final Project
*/

/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

a.header
{
    color: #0000033;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

a.sidebar 
{
    color: #000033;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

h2 
{
	text-align: center;
	font-size: 1em;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

hr
{
	border-color: black;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

div
{
	overflow: hidden;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

#header
{
	position: absolute;
	top: 0%;
	left: 0%;
	
	border: 0.1px solid black;
	
	width: 100%;
	height: 10%;
	background-color: #009B3B;
	
	/*Used the overflow attribute in case the user zoomed too much*/
	overflow: hidden;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

/*This set of code will highlight the options when the user hovers.*/
a:hover
{
	background-color: #bfff00;
}


/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

#history
{
	position: absolute;
	top: 10%;
	left: 0%;
	
	border: 0.1px solid black;
	
	width: 16.6%;
	height: 6%;
	background-color: #0BFF00;
	
	overflow: hidden;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

#products
{
	position: absolute;
	top: 10%;
	left: 16.6%;
	
	border: 0.1px solid black;
	
	width: 16.6%;
	height: 6%;
	background-color: #0AE700;
	
	overflow: hidden;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

#staff
{
	position: absolute;
	top: 10%;
	left: 33.2%;
	
	border: 0.1px solid black;
	
	width: 16.6%;
	height: 6%;
	background-color: #08C100;
	
	overflow: hidden;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

#contactinfo
{
	position: absolute;
	top: 10%;
	left: 49.8%;
	
	border: 0.1px solid black;
	
	width: 16.6%;
	height: 6%;
	background-color: #07A200;
	
	overflow: hidden;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

#ourinfsystems
{
	position: absolute;
	top: 10%;
	left: 66.4%;
	
	border: 0.1px solid black;
	
	width: 16.8%;
	height: 6%;
	background-color: #068C00;
	
	overflow: hidden;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

#bingogame
{
	position: absolute;
	top: 10%;
	left: 83.2%;
	
	border: 0.1px solid black;
	
	width: 16.8%;
	height: 6%;
	background-color: #068C00;
	
	overflow: hidden;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

#main
{
	position: absolute;
	top: 16%;
	left: 10%;
	
	overflow-x: hidden;
	overflow-y: scroll;
		
	width: 80%;
	height: 74%;	
	background-color: #E2FFD2;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

#background
{
	position: fixed;
	top: 0%;
	left: 0%;
	background-image: url('../Images/giphy.gif');
	width: 100%;
	height: 100%;
	background-repeat: repeat;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

#footer
{
	position: absolute;
	top: 90%;
	left: 0%;
	
	border: 0.1px solid black;

	width: 100%;
	height: 10%;
	background-color: #009B3B;
	
	overflow: hidden;
}
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/